@font-face {
    font-family: tommyBold;
    src: url(./styles/fonts/made_tommy/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}

@font-face {
    font-family: azeretLight;
    src: url(./styles/fonts/Azeret_Mono/AzeretMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: neutrafaceBold;
    src: url(./styles/fonts/neutraface-text-cufonfonts/Neutraface\ Text\ Bold.otf);
}

@font-face {
    font-family: roboto;
    src: url(./styles/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(./styles/fonts/Roboto/Roboto-Bold.ttf);
}

:root {
    --blue: rgba(0, 163, 224, 1.00);
    --red: rgba(209, 45, 74, 1.00);
    --wit: rgba(253, 253, 254, 1.00);
    --grijs: rgba(130, 130, 130, 1.00);
    --navy: rgba(4, 30, 66, 1.00);

    --space-small: 2em;
    --space-medium: 4em;
    --space-large: 6em;

    --grid: grid;

    --border-line: 10px solid rgba(0, 163, 224, 0.10);

    --font-size-headline: 16em;
}

body {
    margin: 0;
    background-color: rgb(242, 242, 242);
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.topPart,
.topPartII {
    background-color: var(--blue);
    height: 3.75em;
    width: 100%;
    z-index: 3;
    padding: 0;
    display: var(--grid);
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    top: 0;
}

.topPartII {
    display: none;
}

#logo {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
}

@media (min-width: 1200px) {
    .topPartII {
        background-color: var(--wit);
        display: grid;
        grid-template-columns: 16.5em 1fr 17em;
        height: auto;
        box-shadow: 0px 3px 4px rgba(18, 19, 19, 0.08);
    }

    #logoII {
        height: 1em;
        align-self: center;
        padding: 2em;
    }

    .rechts {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 3 / 3;
        background-color: var(--navy);
    }

    .rechts p {
        font-family: roboto;
        font-size: 12px;
        color: var(--wit);
        margin-left: 1em;
    }

    #profiel {
        border: 10px solid rgba(0, 163, 224, 0.10);
    }

    #rondje,
    #profiel {
        border-radius: 100%;
        height: 2em;
        margin-left: 1em;
    }

    #rondje {
        background-color: var(--blue);
    }

    .desktop-nav {
        display: flex;
        align-self: center;
    }

    .desktop-nav li {
        list-style-type: none;
        margin-right: 1.5em;
        font-family: robotoBold;
        font-size: 14px;
        white-space: nowrap;
    }

    .desktop-nav a:hover {
        color: var(--blue);
    }

    .mand {
        margin-left: 5em;
    }
}

nav {
    display: grid;
    height: 3.75em;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    justify-self: end;
    margin-right: 1em;
    align-items: center;
}

nav button {
    background-color: var(--blue);
    border: none;
}

/* tutorial https://www.youtube.com/watch?v=OFKBep95lb4&t=867s */

.hamburger {
    position: relative;
    display: block;
    width: 30px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 3px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-3px, 2px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-5px, -4px);
}

.hamburger.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    background-color: var(--navy);
    padding-top: 5em;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    text-align: left;
    margin-right: 2.5em;
    margin-left: 2.5em;
    margin-top: 1.75em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--wit);
    color: var(--wit);
    font-family: neutrafaceBold;
}

.mand {
    position: relative;
    display: block;
    width: 30px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    transition: 0.4s;
}

.shopping-cart {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: block;

    background-color: var(--wit);
    padding-top: 5em;
    transition: 0.4s;
    z-index: 98;
}

.shopping-cart.isActive {
    top: 1em;
}

.empty.isActive {
    display: none;
}

.empty h2 {
    display: flex;
    justify-content: center;
    font-family: neutrafaceBold;
    font-size: 32px;
    color: var(--navy);
    margin-bottom: 0;
}

.empty p {
    display: flex;
    justify-content: center;
    font-family: roboto;
    font-size: 14px;
    color: var(--navy);
}

.donkerBlauw {
    background-color: var(--navy);
    height: 100%;
    padding-top: var(--space-medium);
    margin-top: -5em;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.donkerBlauw hr {
    width: 8em;
    height: 5px;
    background-color: var(--wit);
    border-radius: 8px;
    margin-top: -4em;
}

.kruis {
    position: absolute;
    right: 1em;
    top: 1em;
    display: block;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    transition: 0.4s;
}

/* 2e balk van boven (timer) */

.next-race {
    color: var(--wit);
    background-image: linear-gradient(rgb(4, 30, 66), rgb(0, 98, 134) 100%);
    gap: .01em;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    box-shadow: 0px 3px 6px rgba(18, 19, 19, 0.20);
    text-transform: uppercase;
    font-size: .75em;
    margin-top: 5em;
}

.next-race h3 {
    margin: 1em;
    font-style: italic;
    font-size: 130%;
    font-family: tommyBold;
}


@media (min-width: 1200px) {
    .next-race {
        margin-top: 6.5em;
    }

}

/* P:7 secured! */

.oneRoundToGO {
    color: var(--wit);
    height: 100%;
    background-image: linear-gradient(90deg, rgba(4, 30, 66, 0.97) 25%, rgba(0, 0, 0, 0.00) 100%), url(https://cdn.williamsf1.tech/images/fnx611yr/production/061a4fd413cb48fba786d69f661845842820fdcd-2880x1212.jpg?w=1920&amp;auto=format);
    background-position: center;
    background-size: cover;
}

.oneRoundToGO hr {
    border: 1px solid var(--red);
    width: 5em;
    text-align: left;
    margin-left: 0;
}

.fanText {
    padding: 1em;
    padding-bottom: 56px;
}

.fanText h1 {
    font-size: 25px;
    font-family: tommyBold;
    font-weight: bold;
    font-size: 32px;
    width: 7em;
    text-transform: uppercase;
    font-style: italic;
    padding-top: 1em;
}

.fanText p {
    font-family: roboto;
    font-size: 16px;
}

.fanText button {
    height: 45px;
    padding: 15px;
    color: var(--wit);
    background-color: transparent;
    border: 1px solid var(--blue);
    font-weight: bold;
}

/* black friday */

.blackFriday {
    display: grid;
    grid-template-rows: 5em 1fr;
    height: 100%;
    margin: 12px;
    border-radius: 8px;
    min-height: 200px;
}

.fortyProcent {
    background-image: url(./images/40%off.jpeg);
    background-size: cover;
    background-position-y: -1.3em;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 100%;
    width: 100%;
}

.getOff {
    background-color: var(--wit);
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

}

.getOff h4 {
    font-family: neutrafaceBold;
    font-size: 18px;
    line-height: 21.6px;
    margin-top: .5em;
    color: var(--navy);
}

.getOff p {
    font-family: azeretLight;
    color: var(--grijs);
    font-size: 10px;
    text-transform: uppercase;
}

@media (min-width: 880px) {
    .headerTwo {
        display: flex;
        align-items: center;
        background-image: linear-gradient(90deg, rgba(4, 30, 66, 0.97) 25%, rgba(0, 0, 0, 0.00) 100%), url(https://cdn.williamsf1.tech/images/fnx611yr/production/061a4fd413cb48fba786d69f661845842820fdcd-2880x1212.jpg?w=1920&amp;auto=format);
    }

    .oneRoundToGO {
        width: 50%;
        background-image: none;
    }

    .fanText {
        margin-left: 2em;
    }

    .fanText h1 {
        font-size: 68px;
    }

    .blackFriday {
        margin-left: auto;
        margin-right: 5em;
    }
}

/* latest news */

.latest {
    background-image: url(./images/background\ latest.webp);
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-bottom: 3em;
}

.latest h2 {

    color: var(--wit);
    font-size: 32px;
    font-family: neutrafaceBold;

}

#latest {
    text-transform: uppercase;
    padding-left: 12px;
    padding-top: 24px;
}

/* Report van James */

.james {
    color: var(--wit);
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00), rgba(4, 30, 66, 0.70) 82.8%), url(./images/james\ Hunt.webp);
    background-size: cover;
    background-position: 50%;
    margin: 12px;
    border-radius: 8px;
}

.jamesQuote {
    padding-top: 10em;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.jamesQuote h2 {
    font-size: 32px;
    font-family: tommyBold;
    font-weight: bolder;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    margin-top: 12px;
}

.jamesQuote p {
    font-family: azeretLight;
    font-size: 10px;
    color: var(--wit);
}


/* Report van de race */

.pseven {
    height: 8.75em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 12px;
}

.reportImg {
    background-image: url(./images/carInPits.webp);
    background-size: cover;
}


/* Pitcrew video */

.pitCrew,
.untapped,
.bts,
.jamesVideo {
    height: 8.75em;
    background-size: cover;
    background-position: center;
    margin: 0.7500em;
    border-radius: 8px;
    color: var(--wit);
}

.pitCrew h3,
.untapped h3,
.gaKijken h3,
.jamesVideo h3 {
    font-size: 18px;
    font-family: neutrafaceBold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.pitCrew p,
.potential p,
.gaKijken p,
.jamesVideo p {
    font-family: azeretLight;
    font-size: 10px;
    color: var(--wit);
}

.nuKijken,
.potential,
.gaKijken,
.jamesVideoText {
    padding: 15px;
}

.jamesVideo {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(4, 30, 66, 0.7) 82.8%), url(./images/James\ Hugging.webp);
}

.pitCrew {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(4, 30, 66, 0.7) 82.8%), url(./images/pitMember.webp);
}

.untapped {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(4, 30, 66, 0.7) 82.8%), url(./images/untapped\ potential.webp);
}

.bts {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(4, 30, 66, 0.7) 82.8%), url(./images/behind\ the\ scenes.webp);
}

@media (min-width: 800px) {
    .latest h2 {
        margin-top: -1em;
    }

    .articles {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1em;
    }

    #witnormaal {
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: var(--wit);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 15px;
    }
    
    #witnormaal h3 {
        font-size: 18px;
        font-family: neutrafaceBold;
        font-weight: lighter;
        color: var(--navy);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
    }
    
    #witnormaal p {
        font-family: azeretLight;
        font-size: 10px;
        color: var(--grijs);
        text-transform: uppercase;
        position: absolute;
        margin-bottom: 1em;
    }
}

/* Fan appreciation */

.appreciation h2 {
    font-size: 32px;
    font-family: neutrafaceBold;
    padding-left: 12px;
    color: var(--navy);
}

.meeting {
    height: 18.75em;
    margin: 1em;
    background-image: linear-gradient(rgba(4, 30, 66, 0.50), rgba(4, 30, 66, 0.50)), url(./images/meetingFans.webp);
    background-size: cover;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .25em solid var(--blue);
}

.meeting h2 {
    color: var(--wit);
    font-size: 32px;
    text-align: center;
}

/* shop now carousel */

.shopNow h3 {
    font-family: neutrafaceBold;
    color: var(--navy);
    font-size: 1.25em;
    text-transform: uppercase;
    margin: 1em;
    padding-top: 1.5em;
}

.swiping {
    overflow: auto;
    white-space: nowrap;
    height: 25em;
    margin-left: 12px;
    margin-right: 12px;
    overflow-y: hidden;
    padding-bottom: 2em;
}

.shopForty,
.miniHelmet {
    height: 20em;
    margin: 1em;
    background-size: cover;
    background-position-x: center;
    margin-bottom: 1.5em;
    display: inline-block;
    width: 90%;
    height: 100%;
    position: relative;
}

.shopForty button,
.miniHelmet button {
    height: 45px;
    padding: 16px;
    color: var(--wit);
    background-color: rgba(4, 30, 66, 0.90);
    border: 1px solid var(--blue);
    font-weight: bold;
}

.shopForty button {
    margin: 1em;
    position: absolute;
    bottom: 0em;
}

.shopForty {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00), rgba(4, 30, 66, 0.70) 82.8%), url(./images/40%off.jpeg);
}

.miniHelmet {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00), rgba(4, 30, 66, 0.70) 82.8%), url(./images/miniHelmet.webp);
}

#helmetText {
    margin: 1em;
    position: absolute;
    bottom: 0;
}

.miniHelmet h4 {
    font-family: neutrafaceBold;
    font-style: italic;
    color: var(--wit);
    text-transform: uppercase;
    font-size: 1.25em;
    text-wrap: wrap;
}

@media (min-width: 800px) {
    .swiping {
        display: flex;
        height: 35em;
    }

    .shopForty,
    .miniHelmet {
        width: 43em;
        height: auto;
    }

    .miniHelmet h4 {
        font-size: 2em;
    }

    .shopForty button,
    .miniHelmet button {
        padding: 1.5em;
        height: 60px;
    }
}

/* winactie */

.winActie {
    background-color: var(--wit);
    box-shadow: 0px 0.5px 3px rgba(18, 19, 19, 0.25);
    margin: 1em;
    border-radius: 8px;
}

.winInhoud {
    padding: 10px;
}

.winInhoud img {
    width: 100%;
    height: 100%;
}

.winInhoud h4 {
    font-family: neutrafaceBold;
    text-transform: uppercase;
    font-size: 1em;
    color: var(--navy);
    line-height: 1.3125em;
    margin-bottom: 0.625em;
}

.winInhoud p {
    font-size: 0.875em;
    font-family: roboto;
}

.winInhoud button {
    height: 2.8125em;
    width: 100%;
    background-color: transparent;
    border: solid .25px var(--grijs);

    font-size: 0.875em;
}

/* videos */

.videoSection {
    margin-bottom: 2em;
}

.videos {
    display: flex;
    align-items: center;
    margin: 1em;
    gap: 1em;
    margin-bottom: -1em;
}

.videos h2 {
    font-family: neutrafaceBold;
    text-transform: uppercase;
    font-size: 2em;
}

.videos p {
    font-family: roboto;
    color: var(--blue);
    font-size: 1em;
}

/* korting Gulf collention */

.korting {
    background-image: url(./images/gulfBackground.webp);
}

.korting img {
    width: 100%;
    height: auto;
    min-width: 15em;
    max-width: 25em;

    margin-left: 10em;
    margin-right: 10em;
}

#plaatje {
    display: flex;
    justify-content: center;
}

.korting h2 {
    color: var(--wit);
    font-family: neutrafaceBold;
    font-size: 2em;
}

.korting p {
    color: var(--wit);
    font-family: roboto;
    font-size: 1em;
    margin-bottom: 2em;
}

.kortingText {
    margin: 1em;
}

.kortingText button {
    height: 45px;
    padding: 16px;
    color: var(--wit);
    background-color: rgba(4, 30, 66, 0.90);
    border: 1px solid var(--blue);
    margin-bottom: 2em;
}

@media (min-width: 880px) {
    .korting {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

}

/* photo galleries */
.photoGalleries {
    display: flex;
    align-items: center;
    margin: 1em;
    gap: 1em;
    margin-bottom: -1em;

}

.photoGalleries h2 {
    font-family: neutrafaceBold;
    text-transform: uppercase;
    font-size: 2em;
    color: var(--navy);
}

.photoGalleries p {
    font-family: roboto;
    color: var(--blue);
    font-size: 1em;
}

#seeMore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    gap: 1em;
}

/* quali in photos */
.qualiPhotos,
.alexLid,
.fansToRace {
    background-size: cover;
    background-position: center;
    margin: 0.7500em;
    border-radius: 8px;
    color: var(--wit);
}

.qualiPhotos h3,
.alexLid h3,
.fansToRace h3 {
    font-size: 1.125em;
    font-family: neutrafaceBold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.qualiPhotos p,
.alexLid p,
.fansToRace p {
    font-family: azeretLight;
    font-size: 10px;
    color: var(--wit);
}

.qualiPhotos,
.alexLid,
.fansToRace {
    padding: 15px;
}

.qualiPhotos {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(4, 30, 66, 0.7) 82.8%), url(./images/qualiPicture.webp);
}

.alexLid {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(4, 30, 66, 0.7) 82.8%), url(./images/albonLid.webp);
}

.fansToRace {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(4, 30, 66, 0.7) 82.8%), url(./images/fansToRace.webp);
}

@media (min-width: 800px) {
    .videoRow,
    .photoRow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: -3em;
    }

    .videoRow a,
    .photoRow a {
        min-width: 10em;
        max-width: 25em;
        margin-right: 1em;
    }

    .jamesVideo,
    #pitVideo,
    #untappedVideo {
        width: 100%;
        height: 20em;
    }

    .qualiPhotos,
    .alexLid,
    .fansToRace {
        width: 90%;
        height: 20em;
    }

    #untappedVideo {
        width: 125%;
    }

    .jamesVideoText,
    #kijkenText,
    #potentialText {
        padding-top: 12em;
    }
}

/* race posters */

.racePosters {
    margin-bottom: 2em;
}

.racePosters h2 {
    font-family: neutrafaceBold;
    font-size: 3em;
    color: var(--navy);
    margin: 12px;
    margin-top: 48px;
}

#seeAll {
    background-color: var(--blue);
    border: none;
    color: var(--wit);
    font-size: 0.875em;
    height: 2em;
    margin: 12px;
    margin-top: -1em;
    padding-left: 16px;
    padding-right: 16px;
}

.posterSwipe {
    /* https://css-tricks.com/simple-swipe-with-vanilla-javascript/ */
    overflow: auto;
    white-space: nowrap;
    height: 25em;
    margin-left: 12px;
    margin-right: 12px;
    overflow-y: hidden;
}

.pSevenPoster,
.abuDhabiPoster,
.vegasPoster,
.brazilPoster,
.mexicoPoster,
.americasPoster {
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 90%;
    height: 100%;
    position: relative;
}

.pSevenPoster {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00), rgba(4, 30, 66, 0.70) 100%), url(./images/posterP7.webp);
}

.abuDhabiPoster {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00), rgba(4, 30, 66, 0.70) 100%), url(./images/posterAbuDhabi.webp);
}

.vegasPoster {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00), rgba(4, 30, 66, 0.70) 100%), url(./images/posterLasVegas.webp);
}

.brazilPoster {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00), rgba(4, 30, 66, 0.70) 100%), url(./images/posterBrazil.webp);
}

.mexicoPoster {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00), rgba(4, 30, 66, 0.70) 100%), url(./images/posterLasVegas.webp);
}

.americasPoster {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00), rgba(4, 30, 66, 0.70) 100%), url(./images/posterAmericas.webp);
}

.pSevenPoster button,
.abuDhabiPoster button,
.vegasPoster button,
.brazilPoster button,
.mexicoPoster button,
.americasPoster button {
    background-color: var(--blue);
    border: none;
    color: var(--wit);
    font-size: 0.875em;
    width: 90%;
    height: 2.8125em;
    margin: 1em;
    position: absolute;
    bottom: 0em;
    font-weight: 900;
}

@media (min-width: 950px) {
    .posterSwipe {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 98%;
    }

    .pSevenPoster,
    .abuDhabiPoster,
    .vegasPoster,
    .brazilPoster,
    .mexicoPoster,
    .americasPoster {
        margin: .5em;
    }

    .pSevenPoster button,
    .abuDhabiPoster button,
    .vegasPoster button,
    .brazilPoster button,
    .mexicoPoster button,
    .americasPoster button {
        width: 88%;
        text-wrap: wrap;
    }
}

/* footer */

footer {
    background-color: var(--navy);
    color: var(--wit);
    padding-top: 1.5em;
    margin-top: 2em;
}

footer h3 {
    font-family: neutrafaceBold;
    margin: 12px;
}

footer p {
    font-family: roboto;
    margin: 12px;
}

footer hr {
    border: .75px solid var(--blue);
    margin: 12px;
}

footer h4 {
    font-family: roboto;
    margin: 12px;
    font-size: 16px;
}

footer article {
    padding-bottom: 5px;
}

footer a:visited {
    color: var(--wit);
}

.clickMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-right: 1em;
    justify-content: space-between;
}

.dropdownMenu {
    display: none;
}

.dropdownMenu.isActive {
    display: block;
}

.dropdownMenu a {
    color: var(--wit);
    font-family: roboto;
    text-decoration: none;
    display: none;
    font-size: 14px;
    margin: 1em;
    display: block;
}

.dropdownMenu div {
    display: block;
}

.stayLoop img {
    margin: 12px;
}

.storeLocation {
    margin: 12px;
    display: flex;
    align-items: center;
}

.storeLocation img {
    height: 15px;
    width: 20px;
}

.trademark {
    font-size: 12px;
}

.miniText {
    font-size: 8px;
}

/* NIEUWE PAGINA */

.headerBackground {
    background-color: var(--navy);
    padding-bottom: .5em;
}

.topHeader {
    padding-top: 48px;
    margin: 12px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    font-family: robotoBold;
    font-size: 0.875em;
    margin-bottom: 40px;
    margin-top: 4em;
}

.breadcrumbs svg {
    margin-right: 8px;
    margin-left: 8px;
}

.breadcrumbs a {
    color: var(--wit);
    text-decoration: none;
}

header h1 {
    color: var(--wit);
    font-family: neutrafaceBold;
    font-size: 2em;
    margin-top: 0;
    line-height: 38px;
}

header img {
    width: 100%;
    height: 100%;
}

.kopjes {
    margin-bottom: 2.5em;
}

.kopjes h2 {
    color: var(--blue);
    font-family: neutrafaceBold;
    font-size: 2em;
}

.kopjes hr {
    border: 1px solid var(--red);
    width: 75%;
    margin: 0;
}

.readingTime {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.readingTime p {
    color: var(--wit);
    font-family: roboto;
    font-size: 0.875em;
    flex-grow: 0;
    width: 35%;
}

.textOne {
    margin: 12px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: -1em;
}

.textOne p {
    font-family: roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 900;
    margin-top: 2em;
}

#secured {
    color: var(--grijs);
    font-size: 14px;
    margin-top: 24px;
}

@media (min-width: 800px) {

    .breadcrumbs {
        margin: 1em;
        margin-top: 5em;
        margin-bottom: 2em;
    }

    .kopjes {
        margin-left: 1em;
    }

    .kopjes h1 {
        margin-top: .25em;
        font-size: 3em;
    }

    .kopjes img {
        width: 80%;
        height: 100%;
        margin-left: 10%;
    }

    .readingTime {
        margin-left: 10%;
        margin-right: 40%;
        margin-top: 2em;
        line-height: 2em;
    }

    .kopjes h2 {
        margin-left: 10%;
        width: 55%;
    }

    .textOne p {
        margin-left: 10%;
        margin-right: 10%;
    }

    .textOne img {
        margin-left: 10%;
        width: 80%;
        height: 100%;
    }
}

.recapInhoud {
    padding: 10px;
}

.recapInhoud h4 {
    font-family: neutrafaceBold;
    font-size: 1.1em;
    color: var(--navy);
    line-height: 1.3125em;
    margin-bottom: 0.625em;
}

.recapInhoud p {
    font-size: 0.875em;
    font-family: roboto;
}

.recapInhoud img {
    width: 100%;
    height: 100%;
}

.recapInhoud button {
    height: 2.8125em;
    width: 100%;
    background-color: rgb(42, 95, 142);
    color: var(--wit);
    font-size: 18px;
    font-weight: 600;
    border: none;
}

@media (min-width: 800px) {
    .textOne {
        margin-top: 24px;
    }

    .winActie {
        width: 42em;
        height: 100%;
        margin: auto;
        margin-bottom: 48px;
        margin-top: 48px;
    }

    .recapInhoud {
        display: grid;
        grid-template-columns: 20em 1fr;
        width: 41em;
        padding: 10px;
    }

    .recapInhoud h4 {
        margin: 0;
    }

    .winText {
        margin: 1em;
    }
}

/* photo galleries */

.kortingKleding {
    display: flex;
    align-items: center;
    margin: 1em;
    margin-bottom: -1em;
}

.seeMoreTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 9em;
}

.kortingKleding h2 {
    font-family: neutrafaceBold;
    font-size: 2em;
    color: var(--navy);
    margin-right: 1em;
}

.kortingKleding p {
    font-family: roboto;
    color: var(--blue);
    font-size: 1em;
}

/* carousel cards */

.carousel {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

.saleShop {
    box-shadow: 0px 0px 8px rgba(4, 30, 66, 0.20);
    border-radius: 8px;
    width: 12.5em;
    margin: 12px;
}

.saleShop h4 {
    font-size: 1em;
    font-family: neutrafaceBold;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    line-height: 16px;
    margin: 0;
    width: 11em;
    text-wrap: wrap;
}

.saleShop p {
    font-size: 1em;
    font-family: roboto;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 8px;
    margin: 0;
}

.heart    {
    background-color: lightgray;
    border: none;
    color: var(--grijs);
    font-size: 1em;
    height: 1.5em;
    width: 1.5em;
    margin-left: 45%;
    display: block;
    cursor: pointer;
    appearance: none;
    outline: none;
    border: none;
}

.heart.isActive {
    background-color: lightcoral;
    color: var(--red);
}

.jasje.isActive {
    display: grid;
}

.jasje {
    display: none;
    grid-template-columns: 8em 1fr;
    margin: 12px;
    box-shadow: 0px 0px 8px rgba(4, 30, 66, 0.20);
    border-radius: 8px;
}

.jasje img {
    height: 10em;
}

.jasInfo {
    grid-column-start: 2;
    margin: 12px;
}

.jasInfo h4 {
    font-family: neutraFaceBold;
    font-size: 18px;
    text-wrap: wrap;
}

.jasInfo h5 {
    font-family: roboto;
    font-size: 1em;
}

.saleShop img {
    height: 12em;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.kopen {
    display: flex;
    align-items: center;
}

@media (min-width: 900px) {

    .kortingKleding {
        display: flex;
        align-items: center;
    }

    .kortingKleding h2 {
        margin-left: 10%;
    }

    .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .saleShop{
        min-width: 10em;
        max-width: 25em;
        margin-right: 1em;
        margin-left: 1em;
        word-break: break-word;
    }
}

/* pit wall closed */

.blauwVlak {
    background-image: url(./images/backgroundBlue.webp);
    color: var(--wit);
    background-size: cover;
    padding-bottom: 4em;
    padding-top: 1em;
}

@media (min-width: 800px) {
    .blauwVlak {
        margin-left: 15%;
        background-position-y: 650px;
        height: 32em;
        width: 60em;
    }
}

.pitPredictions {
    display: flex;
    align-items: center;
    margin-left: 40%;
}

.vl {
    border-left: 2px solid var(--red);
    height: 60px;
    position: absolute;
}

.pitPredictions h4 {
    font-family: neutrafaceBold;
    text-transform: uppercase;
    margin-left: 16px;
    font-size: 18px;
}

.blauwVlak h2 {
    font-family: neutrafaceBold;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    font-size: 40px;
    line-height: 44px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.blauwVlak button {
    background-color: var(--blue);
    border: none;
    color: var(--wit);
    height: 3.25em;
    width: 11.25em;
    font-weight: 600;
    font-size: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6em;
}

/* tags */
.tags h4 {
    font-family: neutrafaceBold;
    font-size: 18px;
    margin-left: 12px;
    margin-top: 3em;
    color: rgba(4, 30, 66, 1.00);
}

.tagsItems {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
    margin-bottom: 2em;
}

.tagsItems button {
    background-color: var(--wit);
    border: .25px solid rgb(197, 197, 197);
    padding: .75em;
    font-weight: 600;
    font-size: 1em;
    margin: 12px;
}

.tagsItems button:hover {
    color: var(--blue);
    border: .25px solid var(--blue);
}

@media (min-width: 800px) {
    .tags {
        margin-left: 10%;
    }
}

/* Articles on bottom */

.qualiReportImg,
.comproImg,
.previewImg {
    grid-column-end: 2;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.qualiReportImg {
    background-image: url(./images/qualiReport.webp);
}

.comproImg {
    background-image: url(./images/compromised.webp);
}

.previewImg {
    background-image: url(./images/alex&logan.webp);
}

.report {
    height: 8.75em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}

.witVlak, #witnormaal {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--wit);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 15px;
}

.witVlak h3, #witnormaal h3 {
    font-size: 18px;
    font-family: neutrafaceBold;
    font-weight: lighter;
    color: var(--navy);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.witVlak p, #witnormaal p {
    font-family: azeretLight;
    font-size: 10px;
    color: var(--grijs);
    text-transform: uppercase;
    position: absolute;
    margin-bottom: 1em;
}

@media (min-width: 800px) {
    .artikelen {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .report{
        grid-template-columns: none;
        width: 100%;
        margin-right: 5em;
        margin-bottom: 10em;
        margin-top: -1em;
    }

    .qualiReportImg,
    .comproImg,
    .previewImg{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        height: 12em;
    }

    .witVlak {
        grid-row-start: 2;
        grid-row-end: 3;
        height: 6em;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
    }

    .witVlak p,
    #datum {
        position: absolute;
        margin-bottom: 1em;
    }

    #datum {
        margin-top: -1em;
    }

    .witVlak svg {
        margin-bottom: -.5em;
    }



}